<div class="converter-wrapper">
    <div class="currency currency--from">
        <ng-select [searchable]="false" [clearable]="false" (change)="currencyAmountFromChanges()" [(ngModel)]="selectedFromCurrency">
            @for (currency of currencies; track currency.value) {
                <ng-option [value]="currency.value">
                    <div class="currency__option">
                        <div class="identification">
                            <img [src]="'/assets/img/flags/' + currency.value.toLowerCase() + '.svg'" [alt]="currency.value">
                            <b>{{ currency.value }}</b>
                        </div>    
                        <span>
                            {{ currency.name }}
                        </span>
                    </div>
                </ng-option>
            }
        </ng-select>
        <input (input)="currencyAmountFromChanges()" [(ngModel)]="amountFromCurrency" type="number">
    </div>
    <div (click)="reverseCurrencies()" class="btn-reverse">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>          
    </div>
    <div class="currency currency--to">
        <ng-select [searchable]="false" [clearable]="false" (change)="currencyAmountFromChanges()" [(ngModel)]="selectedToCurrency">
            @for (currency of currencies; track currency.value) {
                <ng-option [value]="currency.value">
                    <div class="currency__option">
                        <div class="identification">
                            <img [src]="'/assets/img/flags/' + currency.value.toLowerCase() + '.svg'" [alt]="currency.value">
                            <b>{{ currency.value }}</b>
                        </div>    
                        <span>
                            {{ currency.name }}
                        </span>
                    </div>
                </ng-option>
            }
        </ng-select>
        <input (input)="currencyAmountToChanges()" [(ngModel)]="amountToCurrency" type="number">
    </div>
</div>



