@import 'vars';

.converter-wrapper {
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 58px);

        .btn-reverse {
            cursor: pointer;
            color: green;
            margin: 0 20px;
            svg {
                width: 30px;
            }
        }
    }
}

@media(max-width: 767px) {
    .converter-wrapper {
        form {
            flex-direction: column;

            .btn-reverse {
                margin: 20px 0px;
                transform: rotate(90deg);
            }
        }
    }
}

